@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-quintessential-serif);
  --font-serif: var(--font-sansation-serif);
  --font-sans: var(--font-roboto-sans);
  --font-sans: var(--font-fugaz-one-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Arial, Helvetica, sans-serif !important;
}

.logo {
  font-family: "Quintessential", Arial, Helvetica, sans-serif;
}

.logo-2 {
  font-family: "Sansation", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Fugaz One", Arial, Helvetica, sans-serif !important;
}
