@import "tailwindcss";

:root {
  --background: #e5e5e6;
  --foreground: #171717;
  --primary: #F2C078;
  --secondary: #333337;
  --green: #00ca1b;

    /* Primary shades */
  --primary-100: hsl(35, 82%, 90%); ;
  --primary-200: hsl(35, 82%, 85%); ;
  --primary-300: hsl(35, 82%, 80%); ;
  --primary-400: hsl(35, 82%, 75%); ;
  --primary-500: hsl(35, 82%, 70%); /* base */
  --primary-600: hsl(35, 82%, 65%); ;
  --primary-700: hsl(35, 82%, 60%); ;
  --primary-800: hsl(35, 82%, 55%); ;
  --primary-900: hsl(35, 82%, 45%); ;

  --green-600: hsl(133, 100%, 25%);

  /* Secondary shades */
  --secondary-100: hsl(240, 2%, 90%);
  --secondary-200: hsl(240, 2%, 75%);
  --secondary-300: hsl(240, 2%, 60%);
  --secondary-400: hsl(240, 2%, 45%);
  --secondary-500: hsl(240, 2%, 30%); /* base */
  --secondary-600: hsl(240, 2%, 20%);
  --secondary-700: hsl(240, 2%, 10%);
  --secondary-800: hsl(240, 2%, 5%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
    --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);

  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-quintessential-serif);
  --font-serif: var(--font-sansation-serif);
  --font-sans: var(--font-roboto-sans);
  --font-sans: var(--font-fugaz-one-sans);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Sansation, Arial, Helvetica, sans-serif !important;
}

body.modal-open {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
  font-family: Sansation, Arial, Helvetica, sans-serif !important;
}

